<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="/js/user_home.js"></script>

    <title>Startup Ecosystem</title>
</head>

<body>
    <header class="sticky-top">
        <% include ../partials/nav.ejs %>
    </header>
    <section class="homepage">
        <div class="login">
            <div class="login-block">
                <div class="container card">
                    <form class="form-horizontal" role="form" method="POST" action="/users/login">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <h2>Please Login</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="sr-only" for="username">E-Mail Address/username</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                        <input type="text" name="username" class="form-control" id="username"
                                            placeholder="you@example.com" value="jayanth" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <i class="fa fa-close"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                        <input type="password" name="password" class="form-control" id="password"
                                            placeholder="Password" value="123456" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <!-- Put password error message here -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1rem">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
                                <a class="btn btn-link" href="users/password/reset">Forgot Your Password?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="signup">
            <div class="signup-block">
                <div class="container card">
                    <form class="form-horizontal" role="form" method="POST" action="/users/signup">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <h2>Sign Up</h2>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="sr-only" for="email">E-Mail Address</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                        <input type="email" name="email" class="form-control" id="email" placeholder="you@example.com"
                                            required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <i class="fa fa-close"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="password">Password</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                        <input type="password" name="password" class="form-control" id="password"
                                            placeholder="Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <!-- Put password error message here -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="sr-only" for="confirm-password">Confirm Password</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                        <input type="password" name="confirmPassword" class="form-control" id="confirm-password"
                                            placeholder="Confirm Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <!-- Put password error message here -->
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <div class="form-group has-danger">
                                    <label class="sr-only" for="username">Username</label>
                                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                        <input type="text" name="username" class="form-control" id="username"
                                            placeholder="username" required autofocus>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-control-feedback">
                                    <span class="text-danger align-middle">
                                        <i class="fa fa-close"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 1rem">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <footer>

    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

</body>

</html>