<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/user_dashboard.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="/js/user_dashboard.js"></script>
    <title>Startup Ecosystem</title>
</head>

<body>
    <header class="sticky-top">
        <% include ../partials/nav.ejs %>
    </header>
    <section>
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav class="bg-dark" id="sidebar">
                <div class="sidebar-header">
                    <h3 class="sidebarCollapse">
                        Vishnu Pillai
                        <button class="btn btn-info">
                            <i class="fa fa-align-left"></i>
                        </button>
                    </h3>
                    <strong class="sidebarCollapse"><button class="btn btn-info">VP</button></strong>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="/users/user" class="nav-link">
                            <i class="fa fa-home"></i>
                            Home
                        </a>
                    </li>
                    <li class="active">
                        <a class="nav-link">
                            <i class="fa fa-lightbulb-o"></i>
                            Add New Idea <button class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                &plus; </button>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#" class="nav-link">
                            <i class="fa fa-briefcase"></i>
                            Investors
                        </a>
                    </li>
                    <li class="active">
                        <a href="#pageSubmenu" class="nav-link">
                            <i class="fa fa-copy"></i>
                            Live Startups
                        </a>
                    </li>
                    <li class="active ">
                        <a href="#pageSubmenu" class="nav-link">
                            <i class="fa fa-group"></i>
                            Work-Spaces
                        </a>
                    </li>
                    <li class="active ">
                        <a href="/users/logout" class="nav-link">
                            <i class="fa fa-power-off"></i>
                            Log Out
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="row">
            <%result.ideas.forEach( function (idea){%>
                
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <div class="caption">
                        <div class='col-lg-12'>
                            <span class="fa fa-credit-card"></span>
                            <span class="fa fa-trash pull-right text-primary"></span>
                        </div>
                        <div class='col-lg-12 well well-add-card'>
                            <h4><%=idea.title%></h4>
                        </div>
                        <div class='col-lg-12'>
                            <p><%=idea.id%></p>
                            <p>Budget: <%=idea.budget%></p>
                            <p>Team Members: <%=idea.members%></p>
                            <p>Status: <%=idea.status%></p>
                            <p>Description: <%=idea.description%></p>
                        </div>
                        <button type="button" class="register-idea btn btn-success btn-xs btn-update btn-add-card">Send</button>
                        <button type="button" class="delete-idea btn btn-danger btn-xs btn-update btn-add-card ">
                            Delete </button>
                        <span class='fa fa-exclamation-sign text-danger pull-right icon-style'></span>
                    </div>
                </div>
            </div>
            <%});%>
        </div>


        
            <!-- Page Content  -->
            <div class="content">
                <!-- The Modal -->
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Add New Idea</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <input name="uid" id="uid" type="text" class="form-control" readonly value="<%=uuid%>" />
                                    </div>
                                    <div class="form-group">
                                        <input name="title" id="title" type="text" class="form-control" placeholder="Title*"
                                            value="" />
                                    </div>
                                    <div class="form-group">
                                        <input name="budget" id="budget" type="text" class="form-control" placeholder="Budget *"
                                            value="" />
                                    </div>
                                    <div class="form-group">
                                        <input name="members" id="members" type="number" class="form-control"
                                            placeholder="Team Members *" value="" />
                                    </div>
                                    <textarea id="description" name="description" placeholder="Explain Your Idea Here.....">

                                        <br/>
                                    </textarea>
                                    <input type="submit" id="submitIdea" class="btn btn-success" value="Submit Idea" />
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container" id="tourpackages-carousel">
                    <div class="row">

                    </div><!-- End row -->
                </div>
            </div>

        </div>
    </section>
</body>

</html>